<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de tareas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button shape="round" href="/edit" routerDirection="forward">
        <ion-icon name="add">Añadir tarea</ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list lines="full">
      <ion-item *ngFor="let t of todos">
        <ion-label (click)="editTodo(t.id)">{{ t.title }}</ion-label>
        <ion-icon name="{{ t.rating[0].nombre.toLowerCase() }}"></ion-icon>
        <ion-icon name="{{ t.rating[1].nombre.toLowerCase() }}"></ion-icon>
        <ion-icon name="{{ t.rating[2].nombre.toLowerCase() }}"></ion-icon>
            <ion-icon (click)="deleteDialog(t.title, t.id)" name="trash" color="medium"></ion-icon>
                  
      </ion-item>
  </ion-list>
  
  
</ion-content>
